*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body{
    /* height: 3000px; */
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
}

.firstPage{
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
    border-top: 2px solid #fff;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px #fff;
    z-index: 10;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5%;
}

li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

li a:hover{
    opacity: 70%;
}

#darkmode{
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #999999;
    position:absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer; 
    box-shadow: 0px 0px 10px #ffffff51;
}

.darkmode_button{
    background-color: #000000;
    border-radius: 50px;
    width: 27px;
    height: 27px;
}

.darkmode_desktop{
    display: none;
}

.home{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.home_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background:  repeating-conic-gradient(#1e1e1e  0deg 10deg, #1e1e1e  10deg 20deg, #624050  20deg 30deg);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right: 10vw;
    margin-bottom: 2rem;
    padding: 10px;
    box-shadow: 0px 0px 20px #624050;
}

.selfie{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.home_text{
    width: 320px;
    align-self: flex-start;
    color: #fff;
    margin-left: 10vw;
    text-shadow: 0px 0px 10px #fff;
}

.home_text h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.home_text h2{
    font-size: 1.5rem;
}

.home_arrow{
    font-size: 15rem;
    position: absolute;
    bottom: 20px;
    right: 10vw;
    color: #000;
    text-shadow: 0px 0px 15px #624050;
    z-index: -10;
}

.section_about_me{
    height: 100vh;
    background-color: #624050;
}

.section_projects{
    height: auto;
    padding-bottom: 100px;
    background: #3c2731;
}

.projects_heading{
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.all_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    width: 320px;
    height: 350px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ffffff;
}

.project_img{
    background-color: #948f8f;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border-radius: 15px;
}

.section_projects img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.project_info{
    margin: 1rem 1.5rem;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
}

.project_info h3{
    width: 100%;
    font-size: 1.3rem;
}

.project_text{
    width: 80%;
    line-height: 1.2rem;
}

.project_arrow{
    font-size: 2.5rem;
    align-self: flex-end;
    /* background-color: #948f8f; */
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.project_arrow:hover{
    opacity: 70%;
    font-size: 2.7rem;
    text-shadow: 0px 0px 5px #000000b2;
    transition: 0.3s;
}

footer{
    display: none;
}

    @media (min-width: 800px) {
        body{
            background: linear-gradient(
            to right, 
            #1e1e1e 0%, 
            #1e1e1e 30%, 
            #624050 30%, 
            #624050 100%)
        }

        nav {
            border: none;
            background-color: transparent;
            top: 0;
            box-shadow: none;
            width: 95vw;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
        }

        ul{
            display: flex;
            flex-direction: row;
            justify-content:end;
            align-items: center;
            margin-right: 15%;
            height: 100%;
            gap: 5%;
        }

        li a{
            color: #000000;
            font-weight: 700;
            text-shadow: 0px 0px 5px #0000008f;
            font-size: 1.2rem;
        }

        .navbarScroll{
            background-color: #1c1c1c;
            border-radius: 50px;
            transition: 3s linear;
            transform: translateY(5px);
            box-shadow: 0 0 10px #fff;
        }
        .navbarScroll a{
            color: #fff;
            text-shadow: 0px 0px 5px #ffffff;
        }

        #darkmode_desktop{
            width: 60px;
            height: 30px;
            border-radius: 50px;
            background-color: rgb(255, 255, 255);
            border: 2px solid #999999;
            position:absolute;
            top: 1rem;
            right: 3%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer; 
            box-shadow: 0px 0px 10px #0000008f;
        }

        .darkmode_button{
            background-color: #000000;
            border-radius: 50px;
            width: 27px;
            height: 27px;
        }

        #darkmode{
            display: none;
        }

        .home{
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 15vh;
        }

        .home_img{
            width: 370px;
            height: 370px;
            margin: 1rem;
            box-shadow: 0 0 20px #fff;
            z-index: 10;
            cursor: pointer;
        }
        
        .selfie{
            width: 350px;
            height: 350px;
        }

        .home_text{
            width:500px;
            align-self: center;
            color: #fff;
            margin: 1rem;
            transform: translateX(-100%);
            opacity: 0;
            transition: 1.5s ease-in;
        }

        .home_animation{
            transform: translateX(0);
            opacity: 100%;
        }

        .home_text h1{
            font-size: 4rem;
            margin-bottom: 0.5rem;
        }
        
        .home_text h2{
            font-size: 2rem;
            line-height: 2.5rem;
        }

        .home_arrow{
            font-size: 25rem;
            bottom: -100px;
            color: #1e1e1e;
            text-shadow: 0px 0px 20px #fff;
        }

        .section_about_me{
            background-color: #132524;
        }

        footer{
            background-color: #1e1e1e;
            height: 100px;
            display: flex;
            justify-content: center;
            padding-top: 5px;
            /* box-shadow: 0px 0px 10px #000; */
        }

        .footer_arrow{
            background-color: #1e1e1e;
            transform: rotate(90deg);
            height: 120px;
            width: 120px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 50px;
            transition: 0.3s;
            /* box-shadow: 0px 0px 10px #000; */
        }

        .footer_arrow:hover{
            bottom: 55px;
            color: #ffffff9a;
            transition: 0.3s;
           
        }

        .footer_arrow a{
            text-align: center;
            font-size: 4rem;
            line-height: 2.5rem;
            margin-right: 65px;
            cursor: pointer;
            text-shadow: 0px 0px 10px #fff;
            text-decoration: none;
            color: #fff;
        }

        .social_media img{
            width: 25px;
            height: auto;
            cursor: pointer;
        }
       
        .social_media img:hover{
            width: 28px;
            cursor: pointer;
            opacity: 0%;
        }
        
        /* .social_media {
        position: relative;
        bottom: -40px;
        right: -320px;
        background-color: #766c6c;
        height: 40px;
        width: 90px;
        display: flex;
        justify-content: space-around;
    } */
    
    }


/* Ljust läge */
/* background: linear-gradient(
    to right, 
    #e6d6d6 0%, 
    #e6d6d6 30%, 
    #8a6576 30%, 
    #8a6576 100%) */